# Minecraft
local/
saves/
mods/
logs/
crash-reports/
backups/
resourcepacks/
!resourcepacks/CABIN/
server-resource-packs/
screenshots/
downloads/
modernfix/
fancymenu_data/
ESM/
panoramas/
*.log
servers.dat
servers.dat_old
icon.png
options.txt
rhino.local.properties
usercache.json
usernamecache.json
emi.json
kubejs_client_data.json

# Pakku
build/
!.pakku/
!pakku.jar
!pakku.json
!pakku-lock.json

# X Minecraft Launcher
versions
instance-lock.json
instance.json
libraries
modpack-metadata.json

# Node.js
**/node_modules/

# dotenv
.env

# VSCode
!/.vscode/*.code-workspace
/.vscode/*

# ProbeJS
/.probe/
/kubejs/probe/
/kubejs/config/probejs.json
/kubejs/config/probe-settings.json
/kubejs/*/jsconfig.json

# Configs
/config

# Linux
*~
.fuse_hidden*
.directory
.Trash-*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# macOS
.DS_Store
.AppleDouble
.LSOverride
